* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  max-width: 700px;
  margin: 20px auto;
  background: #ccc;
  padding: 020px;
  border-radius: 4px;
}

div li {
  display: flex;
  align-items: center;
  color: #4928b4;
  justify-content: space-between;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;;
}

div li button {

  background: #ca4949;
}

